/*General styles*/
h1 {
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}
.is-vertically-centered {
	position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.is-horizontally-centered {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.centered {
    margin-left: auto;
    margin-right: auto;
}

.has-depth {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

/*Navbar*/
.navbar {
    transition: all 1s;
    background-color: #FF5C39;
    min-height: 5.5rem;
}



.navbar-item {
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 40px;
}
.navbar-item:hover {
    background: unset !important;
}
.navbar-item:hover span {
    color: #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF;
}
/*Radio Buttons*/
#radioContainer{
    text-align: center;
    margin-top: 20px;
}
#radioButtons{
    margin: 5px 40px 30px;
    text-align: center;
}
input {
    margin: 0 5px 0 10px;
}

/*Table*/
#tableColumn{
    padding: unset;
}
#dataTable {
    border: 2px solid #666666;
}
th, td {
    text-align: center!important;
    padding: 0 15px 0 15px;
    color: #666666!important;
}

/*Chart*/
#dataChart{
    padding: 0 30px;
}