/*General styles*/
body {padding: 30px}
.is-fullheight{
    height: 100vh;
    background: #FF5C39;
}
.is-vertically-centered {
	position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.is-horizontally-centered {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.centered {
    margin-left: auto;
    margin-right: auto;
}

/*Radio Buttons*/
#radioContainer{

}
#radioButtons{
    margin: 40px;
    text-align: center;
}
input {
    margin: 0 5px 0 10px;
}

/*Table*/
#tableColumn{
    padding: unset;
}
#dataTable {
    border: 2px solid #666666;
}
th, td {
    text-align: center!important;
    padding: 0 15px 0 15px;
    color: #666666!important;
}

/*Chart*/
#dataChart{
    padding: 0 30px;
}